html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden;
}

#canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#text {
    position: absolute;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    width: 100vw;
    scroll-snap-align: start;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
}

.panel {
    width: 50vw;
    box-sizing: border-box;
    padding: 5%;
}

.panel>div {
    width: 100%;
    height: 100%;
}

.show {
    outline: red solid 2px;
}

.panel-empty {
    display: flex;
    justify-content: flex-end;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .panel {
        width: 100vw;
        padding: 5%;
    }

    .panel-text {
        order: 2;
        height: 70vh;
    }

    .panel-empty {
        order: 1;
        height: 30vh;
    }
}